:80 {
  redir / /dashboard.html 308

  root * /srv

  header /dashboard.html Cache-Control "no-cache"
  header /service-worker.js Cache-Control "no-cache"
  header /manifest.webmanifest Content-Type "application/manifest+json; charset=utf-8"

  handle_path /api/* {
    reverse_proxy dashboard-api:8000
  }

  file_server
}
